<!DOCTYPE html>
<html lang="en">
<head>
  <title>관상을 봐드립니다.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>관상을 봐드립니다.</h2>
  <form action="/kb">
    <div class="form-group">
      <label for="imgurl">이미지주소를 입력하세요</label>
      <input type="text" class="form-control" id="imgurl" placeholder="이미지 URL" name="imgurl">
    </div>
    
    <button type="submit" class="btn btn-primary">결과보기</button>
  </form>
</div>

</body>
</html>